name: Devious Build

on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
        - name: macOS
          os: macos-latest

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Build the Mod
        uses: geode-sdk/build-geode-mod@main
        with:
          bindings: geode-sdk/bindings
          combine: true
          target: ${{ matrix.config.os == 'windows-latest' && 'Win64' || 'Darwin' }}

      - name: Force Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: devious-editor-${{ matrix.config.name }}
          path: build/*.geode
